<!-- <h3 class="display-5 text-center">Project Description</h3>
<table class="table text-center">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Project</th>
            <th scope="col">Project Description</th>
            <th scope="col">Project Manager</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{project.projectName | uppercase}} - {{project.projectId}}</td>
            <td>{{project.projectDesc}}</td>
            <td>{{project.projectMgr}}</td>
        </tr>
    </tbody>
</table>
<br><br> -->

<h3 class="display-5 text-center">Project Description</h3>
<table mat-table [dataSource]="dataSource2" class="mat-elevation-z8 projectBg">
    <ng-container matColumnDef="projectName">
        <th mat-header-cell *matHeaderCellDef class="bg-dark t-header"> Project </th>
        <td mat-cell *matCellDef="let element"> {{project.projectName | uppercase }} - {{project.projectId}} </td>
    </ng-container>
    <ng-container matColumnDef="projectDesc">
        <th mat-header-cell *matHeaderCellDef class="bg-dark t-header"> Project Description </th>
        <td mat-cell *matCellDef="let element"> {{project.projectDesc}} </td>
    </ng-container>
    <ng-container matColumnDef="projectMgr">
        <th mat-header-cell *matHeaderCellDef class="bg-dark t-header"> Project Manager </th>
        <td mat-cell *matCellDef="let element"> {{project.projectMgr}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
</table>



<br><br>
<!-- <a *ngIf="empRole=='DEVTEST'" [routerLink]="['/dashboard/bug/add',project.projectId]" class="btn btn-info">Add a Bug</a> -->
<button *ngIf="empRole=='DEVTEST'" mat-raised-button color="primary"
    [routerLink]="['/projects/bug/add',project.projectId]" class="projectBg" style="color: black;">Add Bug</button>
<!-- bugs -->
<!-- <h3 class="display-5 text-center">Associated Bugs</h3>
<table class="table text-center">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Bug ID</th>
            <th scope="col">Bug</th>
            <th scope="col">Bug Status</th>
            <th scope="col">Bug Manager</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody *ngFor="let bug of bugs; let index=index">
        <tr *ngIf="bug.bugMgrId == project.projectMgr">
            <td>{{bug.bugId}}</td>
            <td>{{bug.bugName | uppercase}}</td>
            <td>{{bug.bugStatus}}</td>
            <td>{{bug.bugMgrId}}</td>
            <td> <a [routerLink]="['/dashboard/bug/view',project.projectId,bug.bugId]" class="btn btn-primary">View</a> </td>
            <td> <a [routerLink]="['/dashboard/bug/edit',project.projectId,bug.bugId]" class="btn btn-primary">Edit</a> </td>
        </tr>
    </tbody>
</table>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    </table>
</div> -->


<h3 class="display-5 text-center">List of Bugs</h3>
<!-- <mat-toolbar>
    <mat-toolbar-row>
        <span class="text-center">Bug List</span>
    </mat-toolbar-row>
</mat-toolbar> -->
<div class="mat-elevation-z8">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 projectBg">
        <ng-container matColumnDef="bugId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-dark t-header"> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.bugId}} </td>
        </ng-container>

        <ng-container matColumnDef="bugName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-dark t-header"> Bug </th>
            <td mat-cell *matCellDef="let element"> {{element.bugName}} </td>
        </ng-container>

        <ng-container matColumnDef="bugStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-dark t-header"> Bug Status </th>
            <td mat-cell *matCellDef="let element"> {{element.bugStatus}} </td>
        </ng-container>

        <ng-container matColumnDef="bugPriority">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="bg-dark t-header"> Bug Priority </th>
            <td mat-cell *matCellDef="let element">
                {{element.bugPriority}}
            </td>
        </ng-container>

        <ng-container matColumnDef="navigationBtns">
            <th mat-header-cell *matHeaderCellDef class="bg-dark t-header"></th>
            <td mat-cell *matCellDef="let element">
                <!-- ['/dashboard/projects',project.projectId,'/bug/add'] -->
                <button mat-button color="primary"
                    [routerLink]="['/projects/bug/view',project.projectId,element.bugId]">View</button>
                <button mat-button color="primary"
                    [routerLink]="['/projects/bug/edit',project.projectId,element.bugId]">Edit</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons id="paginationBg">
        <button mat-raised-button color="primary" [routerLink]="['/bug/add',project.projectId]">Add A
            Bug</button>
        <button color="primary">Primary</button>
    </mat-paginator>
</div>