<div>
    <section id="intro" class="clearfix">
        <div class="container d-flex h-100">
            <div class="row justify-content-center align-self-center">
                <div class="col-md-6 intro-info order-md-first order-last">
                    <h2>Bug tracking Solutions<br>for Your<br> 
                        <span>Business!</span></h2>
                    <div>
                        
                    </div>
                </div>
                <div>
                    
                </div>
             <div class="col-md-6 intro-img order-md-last order-first">
                    <img src="../../assets/img/bug_on_trail.gif" style="margin-top: 8em;" class="img-fluid">
                </div> 
            </div>

        </div>
    </section>

    <main id="main">


        <section id="about">

            <div class="container">
                <div class="row">

                    <div class="col-lg-5 col-md-6">
                        <div class="about-img">
                            <img src="../../assets/img/825488.jpg" alt="">
                        </div>
                    </div>

                    <div class="col-lg-7 col-md-6">
                        <div class="about-content">
                            <h2>About Us</h2>
                            <h3><strong>Lady bug is a non-commercial software product that can be licensed for running on-premises or available as a hosted application.</strong>

                            </h3>
                            <p> Our team provides Lady bug for free to open source projects meeting certain criteria, and to organizations that are non-academic, non-commercial, non-governmental, non-political, non-profit, and secular. For academic and commercial
                                customers,the full source code is available under a developer source license.


                        </div>
                    </div>
                </div>
            </div>

        </section>



        <section id="services" class="section-bg">
            <div class="container">

                <header class="section-header">
                    <h3>Services</h3>
                    <p></p>
                </header>

                <div class="row">

                    <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
                            <h4 class="title"><a href="">Plan</a></h4>
                            <p class="description">Plan Create user stories and issues, plan sprints, and distribute tasks across your software team.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i></div>
                            <h4 class="title"><a href="">Track</a></h4>
                            <p class="description">Track Prioritize and discuss your team’s work in full context with complete visibility.</p>
                        </div>
                    </div>



                    <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline" style="color: #2282ff;"></i>
                            </div>
                            <h4 class="title"><a href="">Forcast</a></h4>
                            <p class="description">Forecast offers you transparency with multiple projects, motivated teams and rich insights
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
                            <h4 class="title"><a href="">Release</a></h4>
                            <p class="description">Release Ship with confidence and sanity knowing the information you have is always up-to-date</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="icon" style="background: #eafde7;"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
                            <h4 class="title"><a href="">Report </a></h4>
                            <p class="description">Report Improve team performance based on real-time, visual data that your team can put to use.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline" style="color: #2282ff;"></i></div>
                            <h4 class="title"><a href="">Continuous integration and deployment</a></h4>
                            <p class="description">Supercharge your CI/CD with Pipelines and monitor build status within lady bug Software.</p>
                        </div>
                    </div>
                    

                </div>

            </div>
        </section>




        <section id="why-us" class="wow fadeIn">
            <div class="container-fluid">

                <header class="section-header">
                    <h3>Why choose us?</h3>
                    <p></p>
                </header>

                <div class="row">

                    <div class="col-lg-6">
                        <div class="why-us-img">
                            <img src="../../assets/img/why-us.jpg" alt="" class="img-fluid">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="why-us-content">
                            <p class="h4 mt-5" >We make companies more efficient by providing a live trace of bugs, so employees can find answers more quickly and co-ordinate in efficient manner.</p>

                            <!-- <div class="features wow bounceInUp clearfix">
                                <i></i>
                                <h4> low cost innovation </h4>
                                                           </div>

                            <div class="features wow bounceInUp clearfix">
                            
                                <h4>Related to various fields</h4>
                                <p>like Retail,Healthcare,Research and development,Business/IT services</p>
                            </div> -->

                            <div class="features wow bounceInUp clearfix">
                                
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="container">
                <div class="row counters">

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">1</span>
                        <p>Clients</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">421</span>
                        <p>Projects</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">1,364</span>
                        <p>Hours Of Support</p>
                    </div>

                    <div class="col-lg-3 col-6 text-center">
                        <span data-toggle="counter-up">18</span>
                        <p>Hard Workers</p>
                    </div>

                </div>

            </div>
        </section>



        <section id="features">
            <div class="container">

                <div class="row feature-item">
                    <div class="col-lg-6 wow fadeInUp">
                        <img src="../../assets/img/features-1.svg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
                        <h4>Move work forward from anywhere
                        </h4>
                        <p>
                            Our next step would be to track and manage projects in real time from the Convenience of your favorite device with lady bug mobile..
                        </p>
                        <p>

                        </p>
                    </div>
                </div>



            </div>
        </section>


        <section id="team" class="section-bg">
            <div class="container">
                <div class="section-header">
                    <h3>Team</h3>
                    <p>"Talent wins games, but teamwork win championships."</p>
                </div>

                <div class="row">

                    <div class="col-lg-3 col-md-6 wow fadeInUp">
                        <div class="member">
                            <img src="../../assets/img/akash.jpeg" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Akash Soni</h4>
                                    <span>Chief Executive Officer</span>
                                    <div class="social">
                                        <a href=""><i class="fab fa-twitter"></i></a>
                                        <a href=""><i class="fab fa-facebook"></i></a>
                                        <a href=""><i class="fab fa-google-plus"></i></a>
                                        <a href=""><i class="fab fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="member">
                            <img src="../../assets/img/krishna.jpg" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Krishna Kumar Tripathi</h4>
                                    <span>Product Manager</span>
                                    <div class="social">
                                        <a href=""><i class="fab fa-twitter"></i></a>
                                        <a href=""><i class="fab fa-facebook"></i></a>
                                        <a href=""><i class="fab fa-google-plus"></i></a>
                                        <a href=""><i class="fab fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="member">
                            <img src="../../assets/img/bhanu.jpg" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Bhanu Chandar</h4>
                                    <span>CTO</span>
                                    <div class="social">
                                        <a href=""><i class="fab fa-twitter"></i></a>
                                        <a href=""><i class="fab fa-facebook"></i></a>
                                        <a href=""><i class="fab fa-google-plus"></i></a>
                                        <a href=""><i class="fab fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="member">
                            <img src="../../assets/img/pankaj.jpg" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Pankaj</h4>
                                    <span>Team lead</span>
                                    <div class="social">
                                        <a href=""><i class="fab fa-twitter"></i></a>
                                        <a href=""><i class="fab fa-facebook"></i></a>
                                        <a href=""><i class="fab fa-google-plus"></i></a>
                                        <a href=""><i class="fab fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="member">
                            <img src="../../assets/img/buland.jpeg" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Buland</h4>
                                    <span>Human resources</span>
                                    <div class="social">
                                        <a href=""><i class="fab fa-twitter"></i></a>
                                        <a href=""><i class="fab fa-facebook"></i></a>
                                        <a href=""><i class="fab fa-google-plus"></i></a>
                                        <a href=""><i class="fab fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="member">
                            <img src="../../assets/img/vishal.jpeg" class="img-fluid" alt="">
                            <div class="member-info">
                                <div class="member-info-content">
                                    <h4>Vishal</h4>
                                    <span>Team lead</span>
                                    <div class="social">
                                        <a href=""><i class="fab fa-twitter"></i></a>
                                        <a href="http://www.Facebook.com/"><i class="fab fa-facebook"></i></a>
                                        <a href=""><i class="fab fa-google-plus"></i></a>
                                        <a href=""><i class="fab fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!--
    <section id="clients" class="wow fadeInUp">
      <div class="container">

        <header class="section-header">
          <h3>Our Clients</h3>
        </header>

        <div class="owl-carousel clients-carousel">
          <img src="img/clients/client-1.png" alt="">
          <img src="img/clients/client-2.png" alt="">
          <img src="img/clients/client-3.png" alt="">
          <img src="img/clients/client-4.png" alt="">
          <img src="img/clients/client-5.png" alt="">
          <img src="img/clients/client-6.png" alt="">
          <img src="img/clients/client-7.png" alt="">
          <img src="img/clients/client-8.png" alt="">
        </div>

      </div>
    </section>

-->
        <!--=======
      Frequently Asked Questions Section
    ============================-->
        <!-- #faq -->

    </main>

    <!--==========================
    Footer
  ============================-->
    <footer id="footer" class="section-bg">
        <div class="footer-top">
            <div class="container">

                <div class="row" style="margin-left: 120vh;">

                                       

                    
                
                    
                    <div class="col-lg-6">

                        <div class="footer-links" >
                                    <h4>Contact Us</h4>
                                    <p>
                                        Cdac acts <br> pachwati pashan<br> Pune, India <br>
                                        
                                        <strong>Email:</strong> ladyBugaug19@gmail.com<br>
                                    </p>
                                </div>

                                <div class="social-links">
                                    <a href="https://twitter.com/ladybug91581111" class="twitter"><i
                                        class="fab fa-twitter"></i></a>
                                    <a href="http://www.Facebook.com/ladyBug2306" class="facebook"><i
                                        class="fab fa-facebook"></i></a>

                                    <a href="https://www.linkedin.com/company/bug-tracking-solutions/about/?viewAsMember=true" class="linkedin"><i class="fab fa-linkedin"></i></a>
                                </div>

                    </div> 



                </div>

            </div>
        </div>
    </footer>
    <!-- #footer -->

    <a href="#" class="back-to-top"><i class="fab fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->

    <!-- JavaScript Libraries -->
    <script src="../../assets/lib/jquery/jquery-migrate.min.js"></script>
    <script src="../../assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../assets/lib/easing/easing.min.js"></script>
    <script src="../../assets/lib/mobile-nav/mobile-nav.js"></script>
    <script src="../../assets/lib/wow/wow.min.js"></script>
    <script src="../../assets/lib/waypoints/waypoints.min.js"></script>
    <script src="../../assets/lib/counterup/counterup.min.js"></script>
    <script src="../../assets/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="../../assets/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="../../assets/lib/lightbox/js/lightbox.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="../../assets/contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="../../assets/js/main.js"></script>
</div>